body {
  display: flex;
  gap: 50px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.timeAB {
  margin-bottom: 30px;
}

.option-1,
.option-2 {
  border-bottom: solid 2px darkviolet;
  padding-bottom: 30px;
}

.result {
  border: solid 2px darkviolet;
  width: 300px;
  min-height: 200px;
}

.non-diplayed {
  display: none;
}
